.events-container {
    background: rgb(46, 57, 70);
    padding: 0;
    margin: 0;
    color: white;
}
.events {
    color: white;
    width: 25vw;
    height: 65vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.events::-webkit-scrollbar {
    display: none;
}

.eventCard {
    display: inline-block;
    color:white;
    border-style: solid;
    background: rgb(46, 57, 70);
}

.eventCard:hover {
    background: rgb(55, 74, 97);
}

.eventCardName {
    display: inline-block;
    width: 14vw;

}

.eventCardAddress {
    display: inline-block;
    width: 9vw;

}

