.info {
    background: rgb(46, 57, 70);
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 75vh;
    overflow: auto;
}

.locate-container {
    overflow: auto;
    color: white;
    text-align: left;
    font-weight: bold;

}

.innCard {
    margin: auto;
    padding: 10px;
}



.innCardDiv {
    background: rgb(88, 143, 211);

}

.innCardItem {
    display: inline-block;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}



.innCardButton {
    background: rgb(88, 143, 211);
}

.innCardButton > h3 {
    background: rgb(88, 143, 211);
}

.login-container {
    color: white;
    text-align: center;
}

.emailLabel {
    margin-top: 10%;
}