
.banner {
  margin: 0;
  padding: 0;
  max-height: 20vh;
  width: 100vw;
  background: black;
}

.banner, img {
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
}

.navbar {
  height: 5vh;
  width: 100vw;
  background: lightblue;
  margin: 0;
  padding: 0;
}

.content {
  margin: 1%;
  display: flex;
  max-height: 70vh;
  max-width: 100vw;
}

.qiComp {
  margin: 1%;
  color: white;
  background: black;
  height: 60vh;
  width: 20vw;
}

.about {
  margin: 1%;
  text-align: center;
  color: rgb(255, 255, 255);
  background: rgb(0, 0, 0);
  height: 60vh;
  width: 20vw;
}

.infoComp {
  margin: 1%;
  color: white;
  background: black;
  height: 60vh;
  width: 60vw;
  overflow: auto;
}

.eventsComp {
  margin: 1%;
  color: white;
  background: black;
  height: 60vh;
  width: 20vw;
  overflow: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
